<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
  <script type="module">
    import {t, ast} from './t.js';
    function render () {
      let name = 'Fruit List';
      let fruits = ['Apple', 'Banana', 'Peach'];
      return ast(t`
        <div class="block">
          <ul class="list">
            ${
              fruits.map((f, index) => {
                return t`<li class="list__item" key=${index} data-index=${index}>
                          ${
                            f.split('').map(c => t`<span>${c}</span>`)
                          }
                        </li> `
              })
            }
          </ul>  
          <p class="block__desc">${name} ${null}</p>
        </div>
      `);
    }

    const DOM = {
      setProps ($el, props) {
        for(let k in props) {
          if (props.hasOwnProperty(k)) {
            $el.setAttribute(k, props[k]);
          }
        }
      },
      appendChildren($el, children) {
        let $fragment = document.createDocumentFragment();
        children.map(node => {
          $fragment.appendChild(this.createNode(node));
        });
        return $el.appendChild($fragment);
      },
      setTextContent($el, content) {
        $el.textContent = content;
      },
      createElment (type) {
        return document.createElement(type);
      },
      createNode (node) {
        let {type, props, children, value} = node;
        let $el = this.createElment(type);
        this.setProps($el, props);
        children.length > 0 && this.appendChildren($el, children);
        value && this.setTextContent($el, value);
        return $el;
      },
      render(id, ast) {
        let $root = this.createNode(ast)
        document.querySelector(id).appendChild($root);
        return $root;
      }
    }
    console.log(render());
    console.log(DOM.render('#app', render()));
  </script>
</body>
</html>